@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
 
}

html
{
    scroll-behavior: smooth;

}

body 
{
    min-height: 1000px;
    background: #363535;

}  

/* ----- Navbar Section ----- */

.nav-container
{
    display: flex;
    flex-wrap: nowrap;
    background-size: cover;
   
}

.navbar 
{
    padding: 15px 100px;    
    background: #c04fb1; 
    border-bottom: 1px solid rgba(0,0,0,.1);

}

.navbar-brand
{
    background: #c04fb1;

} 

.navbar-brand h1
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fefefe;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.6s;

}

.navbar-brand h2
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #fefefe; 
    text-decoration: none;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.6s;

}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c04fb1; 
    position: relative;
    top: 0;
    width: 100%;

  }
  
  .li {
   float: left;
   justify-content: end;
   align-items: center;
   
  } 
  
  li a 
  {
    display: block;
    color: #fefefe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover 
  {
    background-color: #fefefe;

  } 
  
/* ----- Banner Quote Section ----- */

.banner-quote
{
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.banner-quote h2
{
    color: #fefefe;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2em;
    letter-spacing: 1.8px;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;

}

.banner-quote h2 span
{
    color: #c04fb1;

}

/* ----- About Section ----- */

#bg-color {
    background: #363535;

} 

#about-image {
    height: 900px;
    width: 100%;
    background: url(../images/bg-image.jpg) no-repeat center center; 
  

/* Aminates zoom effect on loading page  - About Section   */

    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
} 

#about-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;  
}   

/* Creates the level of zoom for about image */
    
@keyframes about-zoom {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.1);
    }
}  

/* ----- Services Section ----- */

.sec
{
    background: #363535;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec .about
{
    background: #fefefe;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

} 

.sec .content
{
    position: relative;
    text-align: center;
    width: 100%;
    color: #fefefe;
    /* color: #c04fb1; */
 
}

.mxw800p
{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 500px;
}

.mxw500p
{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 200px;
}
#nur-image
{
  
    width: 100%;
    background-image: url(../images/nur.jpg);
    margin-top: 80px;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    overflow: hidden;
}

h3
{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
    
}

p
{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding-left: 8px;
    padding-right: 8px;
}



/* ----- Stats Section ----- */

.services
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

/* .services .box .content h4
{
    color: #fefefe;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2.5rem;

} */


.content h5
{
    color: #fefefe;
    color: #c04fb1;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 2rem;

}

.content h6
{
    color: #fefefe;
    color: #c04fb1;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 2rem;

}

.content p
{
    color: #fefefe;
    color: #c04fb1;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.5rem;

}

.services .box
{
    width: 300px;
    margin: 0 auto;
    background: #fefefe;
    color: #c04fb1;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}

.services .box .iconBx
{
    margin-top: 25px;
}

.services .box .iconBx i
{
    display: flex;
    font-size: 60px;
    color: #000;
    justify-content: center;
    max-width: 70px;
    margin-bottom: 15px;
    padding-left: 130px;

}

.services .box h4
{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #c04fb1;
}

.stats
{
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}


.stats h3,
.stats p{
    color: #fefefe;
}

.statsBox
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.statsBox h2
{
    color: #fefefe;
    font-size: 36px;
}

.statsBox h4
{
    color: #fefefe;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ----- Portfolio ----- */

.workBx
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;

}

.workBx .brand
{
    position: relative;
    background: #c04fb1;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.workBx h2
{
    color: #fefefe;
    /* color: #000;
    color: #c04fb1; */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;

} 
 
.workBx p
{
    color: #fefefe;
    /* color: #000;
    color: #c04fb1; */
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 10px;  

} 

.workBx .brand:hover
{
  background: #000;  
} 

.workBx .brand a
{
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.workBx .brand img
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;

  }
  

.workBx .brand:hover a
{
    color: rgba(255,255,255,1);
} 


/* ----- Team Section ----- */

.teamBx
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px; 
}


.teamBx .member
{
    position: relative;
    background: #c04fb1;

    /* background: #000; */
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.teamBx .member .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;

}

.teamBx .member:hover .details 
{
    opacity: 1;
}

.teamBx .member .details h2
{
    color: #fefefe;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span
{
    display: block;
    font-size: 12px;
    font-weight: 300;

}

/* ----- Contact Section ----- */

.contact
{
    background: #000;
}

.contact h3,
.contact p
{
    color: #fefefe;
}

.contactForm
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form
{
    width: 100%;

}

.contactForm .row100
{
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50
{
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100
{
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea
{
    position: relative;
    border: none;
    border-bottom: 1px solid #fefefe;
    color: #fefefe;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea
{
 height: 100px;

}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
    color: rgba(255,255,255,0.5);
}

.contactForm .row100 input[type="submit"]
{
    background: #fefefe;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

/* ----- Footer Section ----- */

.sci
{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 30px 0; 
align-content: space-around;

} 

.sci ul
{
    display: flex;
}

.sci ul li
{
    list-style: none;
  
}

.sci ul li a 
{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
    color: #c04fb1;
    font-size: 48px;
  
}

.sci ul li a:hover ion-icon
{    
    opacity: 0.5;

}   

.contact
{
    color: #c04fb1;
    color: #fefefe;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.copyright a
{
    color: #fefefe;
   
}

.contact span,
.copyright span
{
    color: #c04fb1;
   
}

.toggle
{
    display: none; 
}


@media (max-width: 992px)
{
    .toggle
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle::before
    {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #fefefe;
        transition: 0.5s;
    }

    .toggle::after
    {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }
        header,
        header.sticky
        {
            padding: 5px 50px;
            background: #fefefe;
        }

        header ul
        {
            position: absolute;
            top: 59px;
            left: 0;
            width: 100%;
            height: 100vh;
            text-align: center;
            overflow: auto;
            background: #fefefe;
            visibility: hidden;
            opacity: 0;
        }

        header.active ul
        {
            visibility: visible;
            opacity: 1;
            display: block;
            padding-top: 20px;
        }

        header.active ul li a
        {
            display: inline-block;
            margin: 10px 0;
            font-size: 20px;
        }

        header .logo,
        header .logo ul li a
        {
            color: #000;
        
        }
        .banner
        {
            background-position: center;
        }

        .banner h2
        {
            font-size: 60px;
            padding: 0 50px ;
            
        }

        .services
        {
            padding: 100px 50px 50px 50px;
            
        }

        .services .box
        {
           width: 100%;
            
        }

        .stats
        {
            padding-top: 250px;
            
        }

        .row100
        {
            flex-direction: column;
        }

        .contactForm .row100 .inputBx50,
        .contactForm .row100 .inputBx100
        {
            width: 100%;
            margin: 0;
        }

        .sci
        {
            margin: 20px;
        }

        .sci ul li a .icon
        {
            font-size: 24px;
        }

        h3 
        {
            font-size: 36px;
        }
    }


