@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #777777;
}

/* --------------------Headings and logo */

h2 {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    color: #555555;
    color: #fefefe;
}

#logo {
    float: left;
    font-size: 280%;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 8px;

}

/* --------------------Navbar and Links*/

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 3px;
 
}
 


#logo, #menu {
    line-height: 75px;
    background-color: #941983;
}




#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    /* color: inherit; */
    
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/* --------------------About Section */

/* Image and Text */


#bg-color {
    background-color: rgba(219, 201, 245, 0.7);
    padding: 20px;
    margin-left: 8px;
    ma
    rgin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#about-image {
    height: 600px;
    width: 100%;
    background: url(../images/bg-image.jpg) no-repeat center center;

/* Aminates zoom effect on loading page  - About Section */

    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
} 

#about-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;  
}  

/* Creates the level of zoom for about image*/
    
@keyframes about-zoom {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.1);
    }
} 

#about-text about-text h3 {
   color: #555555;

}

#about-text h3 {

    font-family: 'Courgette', cursive;
    font-size: 40px;
    letter-spacing: 3px;
 
    text-align: center;
    justify-content: center;
    align-items: center;

    letter-spacing: 2px;
    line-height: 4rem;
    
    padding-top: 7rem; 
    padding-top: 40px;

    width: 450px;
    height: 200px; 

    background-color: rgba(225, 96, 229, 0.41);
    border-radius: 20px;
    bottom: 15px;
    right: 110px; 

    position: absolute;
}







